body
{
font-family: Arial;
}
a
{
    text-decoration-color: black;
}
img
{
    float: right;
    width: 200px;
}
#focim
 {
 padding: 10px 20px 10px 20px;
 border: 5px;
 background-color: chartreuse;
 }
 div
 {
 border: 5px;
    
 }
